*{
	box-sizing: border-box;
}
.remain-time span{
	background: #0a58ca;
	color: #fff;
	padding: 5px 29px;
	display: inline-block;
	border-radius: 62px;
	font-size: 17px;
}
.status-bar-one{
	background: #bdd3f5;
	list-style: none;
	padding: 8px;
	border-radius: 14px;
}
.status-bar-one li{
	display: inline-block;
}
.question-header{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.content{
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}
.status-bar-second{
	background: #99b9e8;
	margin-top: 16px;
	padding: 15px;
	border-radius: 10px;
}
.marks h2{
	font-size: 24px;
}
.marks span:first-child{
	color: #1caf12;
}
.marks span:last-child{
	color: #ff0000;
}
.btn-outline-primary{
	background: #fff;
}

.right-sidebar{
	border: 1px solid #000;
	padding: 10px;
}
.exam-overview{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.exam-overview li{
	flex-basis: 50%;
}
.exam-overview li:last-child{
	flex-basis: 100%;
}
.exam-overview span{
	background: green;
	color: #fff;
	padding: 8px 11px;
	margin-bottom: 0px;
	display: inline-block;
	border-radius: 8px;
}
.exam-overview span.nans{
	background: red;
}
.exam-overview span.nvisit{
	background: gray;
}
.exam-overview span.mfr{
	background: #FFC300;
}
.exam-overview span.amr{
	background: deepskyblue;
}
.pagination .page-link{
	background: gray;
	outline: none;
	border: none;
	color: #fff;
	margin: 0 10px;
	border-radius: 0!important;
}
.pagination .active .page-link{
	background: red;
	border-radius: 8px!important;
}










/* The container */
.answer-form{
	display: inline-flex;
	flex-direction: column;
}
.label-container {
	display: block;
	position: relative;
	padding-left: 45px;
	margin-bottom: 24px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 25px;
	display: inline-block;
}

/* Hide the browser's default checkbox */
.label-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 35px;
	width: 35px;
	padding-top: 3px;
	background-color: #eee;
	text-align: center;
	line-height: 1;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
	background-color: #ccc;

}

/* When the checkbox is checked, add a blue background */
.label-container input:checked ~ .checkmark {
	background-color: #2196F3;
	color: #2196F3;
	border-radius: 50%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
	left: 15px;
	top: 11px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.right-sidebar label.label-container {
	font-size: 17px!important;
}

button.disbaleButton {
	pointer-events: none;
	color: gray;
}


/*Calcuator*/

.calculator {
	width: 100%;
	background-color: beige;
	padding: 20px;
	border-radius: 10px;
}

#calculatorPopup input[type=text] {
	width: 100%;
	margin-bottom: 24px;
	height: 37px;
	border-radius: 5px;
	border: 0px;
	background-color: #333333;
	color: #d9d9d9;
	padding: 0 5px 0 5px;

}

#calculatorPopup .calc-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

#calculatorPopup .button {
	margin: 3px;
	width: 63px;
	border: none;
	height: 25px;
	border-radius: 4px;
	color: #000000;
	cursor: pointer;
}

#calculatorPopup button:hover {
	background-color: hsla(180, 100%, 40%, 0.3);
	transition: .2s;
}




#calculatorPopup .functions-one {
	width: 210px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}


#calculatorPopup .functions-two {
	width: 280px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#calculatorPopup .triggers {
	background-color: #ffc266;
}



#calculatorPopup .numbers {
	background-color: #999999;
}

#calculatorPopup .basic-stuff {
	background-color: #80d4ff;
}

#calculatorPopup .complex-stuff {
	background-color: #80ffff;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
	border-radius: 15px;
	font-size: 14px;
}

input#fileUpload {
	border-color: #e85600!important;
	border: 1px solid;
	padding: 5px;

}


.image-area {
	position: relative;
	width: 12%;
	background: #333;
}
.image-area img{
	max-width: 100%;
	height: auto;
}
.remove-image {
	display: none;
	position: absolute;
	top: -10px;
	right: -10px;
	border-radius: 10em;
	padding: 2px 6px 3px;
	text-decoration: none;
	font: 700 21px/20px sans-serif;
	background: #555;
	border: 3px solid #fff;
	color: #FFF;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-transition: background 0.5s;
	transition: background 0.5s;
}
.remove-image:hover {
	background: #E54E4E;
	padding: 3px 7px 5px;
	top: -11px;
	right: -11px;
}
.remove-image:active {
	background: #E54E4E;
	top: -10px;
	right: -11px;
}

ul.status-bar-one button {
	font-size: 14px!important;
}

.modal-content {
	border-radius: 10px;
}

.modal-content {
    animation: show .3s;
    transform: scale(1);
}

@keyframes show {
	from {

		transform: scale(0);
		opacity: 0;
		z-index: -1;
	}
	to {

		transform: scale(1);
		opacity: 1;
		z-index: 2;
	}
}

ul#questionOptionsBottomArea {
	flex-basis: 20%;
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

li.page-item.active.aria-current {
	min-width: 13%;
	margin-bottom: 8px;
}
li.page-item.active.aria-current span {
	margin-left: 0;
	text-align: center;
	cursor: pointer;
}
button#myButton {
	background: #0a58ca;
	color: #fff;
	padding: 5px 29px;
	display: inline-block;
	border-radius: 62px;
	/* font-size: 17px; */
	margin-left: 11px;
}